POSTGRES_PASSWORD_PIPED=
SAMBA_PASS=
IMMICH_DB_PASSWORD=
TS_AUTHKEY=
SLSKD_HTTP_PASSWORD=
SLSKD_SLSK_PASSWORD=
SLSKD_API_KEY=
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
TELEGRAM_BOT_TOKEN=
TELEGRAM_ALLOWED_USERS=
